$fuente_principal: "Roboto", sans-serif;

// Colores
$verde: #228B22;
$verde_claro: #2E8B57;
$verde_oscuro: #006400;
$blanco: #FFFFFF;
$blanco_roto: #F5F5F5;
$azul: #1E90FF;
$azul_acero: #4682B4;
$azul_marino: #000080;
$azul_galicia: #0099CC;
$gris_claro: #D3D3D3;
$gris_oscuro: #808080;
$beige: #D2B48C;
$arena: #F4A460;
$marron: #A0522D;
$negro: #000000;

// Media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;