@use 'base/variables' as v;
@use 'base/mixins' as m;


.header {
    background-color: v.$azul_galicia;
    color: v.$blanco;
    padding: 1.5rem;
    height: 10rem;

    img {
        width: 10%;
    }
    
    .contenido-header {
        position: absolute;
        top: 0;
        left: 0;
        height: 10rem;
        min-width: 100%;
        @include m.grid(2, 0rem);

        .contenido-header-izq {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            gap: 5rem;
            @include m.tablet {
                flex-direction: row;
            }
        }
    }

        .contenido-header-drcha {
            background-color: white;
        }

    h1 {
        color: v.$negro;
        text-align: center;
        @include m.tablet {
            margin: 0;
            text-align: right;

        }
    }
}

.navegacion-principal {
    
    &:hover {
        color: v.$arena;
    }
    a {
        color: v.$blanco;
        font-size: 2rem;        
    }
    
}

.seleccionado {
    color: v.$arena;
}